/* Global styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  color: #000;
  margin: 0;
  padding: 0;
}

/* .header {
  position: fixed;
  top: 30px;
  left: 30px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
} */


.container, .form-container, .response-box {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  /* text-align: center; */
}

.textarea, .response-text {
  width: 100%;
  max-width: 600px;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.textarea {
  min-height: 150px;
  resize: none;
}

.response-text {
  min-height: 150px;
  max-height: 300px;
  overflow-y: auto;
  background-color: #f9f9f9;
}

.sentiment {
  font-weight: bold;
  /* margin: 20px 0; */
}

button, .play-button {
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 4px;
}

button {
  background-color: #4CAF50;
  color: white;
  border: none;
}

button:hover {
  background-color: #45a049;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.error-message {
  color: red;
  margin-top: 20px;
}